# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo
.npm
.env
.env.test
dist

# package lock
package-lock.json

# build folder
build/index.js
build/index.html
