body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 500px;
  background-color: red;
  display: grid;
  gap: 50px;
}

.rightWrapper {
  display: flex;
  justify-content: space-between;
}

#heapViz {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
	// 'nav nav nav'
	// 'left right right'
	// 'left right right'
  'header header header header header header'
  'menu main main main right right'
  'menu footer footer footer footer footer';
	grid-gap: 0vh;
  margin: 20px;
}
